.login-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px auto;
  min-width: 360px;
  max-width: 400px;
  height: 380px;
  box-sizing: border-box;
  padding: 48px 32px 0 32px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0px 22px 106px 0px #00000012;

  &__error-message {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    color: #f5222d;
  }

  &__title {
    margin: 0 0 30px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }

  &__loader {
    display: block;
    width: 23px;
    height: 23px;
    scale: 1.7;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    width: 100%;
    min-width: 260px;

    &_dn {
      display: none;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    transition: all 0.5s;

    &:focus {
      border-color: #1890ff;
    }

    &::placeholder {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      padding-left: 10px;
    }

    &:invalid {
      border-color: #f5222d;
    }

    &:valid {
      border-color: #d9d9d9;
    }
  }

  &__label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    color: #262626;
  }

  &__button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: #1890ff;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.7;
      scale: 0.9;
    }

    &:active {
      scale: 1.1;
      opacity: 1;
    }

    &_error {
      background-color: #f5222d;
    }
  }

  &__alert {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 25px;
    color: #1890ff;
  }

  &__to-sign-up {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;

    &_link {
      color: #1890ff;
      text-decoration: none;
      transition: all 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
