.article {
  background-color: #ffffff;
  margin: 25px auto 0 auto;
  min-width: 360px;
  max-width: 940px;
  margin-bottom: 30px;
  min-height: 1000px;
  max-height: 100%;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0 4px 12px 0#00000026;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 50px;
    margin-bottom: 20px;

    .info {
      display: flex;
      flex-direction: column;

      &__name {
        display: flex;
        flex-direction: row;
      }

      &__title {
        text-decoration: none;
        margin: 0 5px 5px 0;
        text-wrap: nowrap;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #1890ff;
      }

      &__favorites-count {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 20px;
        margin-top: 3px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        border: none;
        color: #000000bf;
        background-color: #ffffff;
        cursor: pointer;

        &::before {
          content: url('../../assets/img/likeArticle.svg');
          width: 16px;
          height: 16px;
          margin-right: 3px;
          scale: 0.9;
        }
      }
    }

    .author {
      display: flex;
      flex-direction: row;
      max-height: 46px;

      .author-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .author-info {
        margin: 5px 15px 0 0;

        & > p {
          margin: 0;
        }

        &__name {
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 18px;
          margin-top: 50px;
        }

        &__created {
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #00000080;
        }
      }
    }
  }

  .content {
    .content__wrapper {
      display: flex;
      justify-content: space-between;

      .buttons {
        position: relative;

        .button-del {
          height: 44px;
          width: 78px;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 18px;
          cursor: pointer;
          border: solid 1px;
          border-radius: 5px;
          padding: 0;
          align-self: flex-start;
          text-decoration: none;
          color: #f5222d;
          border-color: #f5222d;
          background-color: inherit;
          margin-right: 10px;
        }

        .button-edit {
          height: 44px;
          width: 65px;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 18px;
          cursor: pointer;
          border: solid 1px;
          border-radius: 5px;
          padding: 12px;
          align-self: flex-start;
          text-decoration: none;
          color: #52c41a;
          border-color: #52c41a;
          background-color: inherit;
        }
      }
    }

    &__description {
      margin: 0;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      max-width: 60%;
      color: #00000080;
    }
    &__body {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0%;
      width: 100%;

      & img {
        max-width: 100%;
      }
    }
  }
}

.modal-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 104px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 12px 16px;
  margin-top: 20px;
  position: absolute;
  left: 85px;
  top: -21px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  &::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0%;
    margin-left: -12px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
  }

  &__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;

    &::before {
      content: url(../../assets/img/Vector.svg);
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__confirm {
    align-self: flex-end;

    &_yes {
      height: 24px;
      width: 40px;
      border-radius: 4px;
      background-color: #1890ff;
      color: #ffffff;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      border: none;

      cursor: pointer;
    }

    &_no {
      height: 24px;
      width: 40px;
      border-radius: 4px;
      background-color: #ffffff;
      color: #000000;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      border: solid 1px rgba(217, 217, 217, 1);
      margin-right: 10px;

      cursor: pointer;
    }
  }
}

@media (width < 1300px) {
  .modal-delete {
    left: -245px;
    top: -21px;

    &::before {
      content: '';
      position: absolute;
      top: 10%;
      left: 104%;
      margin-left: -12px;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent transparent #ffffff;
    }
  }
}

@media (width < 600px) {
  .article {
    height: auto;
    .header {
      max-height: 120px;
      flex-direction: column-reverse;

      .info {
        &__title {
          text-decoration: none;
          margin: 0 5px 5px 0;
          text-wrap: nowrap;
          font-family: 'Inter', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #1890ff;
        }

        &__favorites-count {
          margin-top: 0px;
        }
      }

      .author {
        flex-direction: row-reverse;
        margin-bottom: 10px;
        justify-content: start;

        .author-avatar {
          margin-right: 15px;
        }

        .author-info {
          margin: 5px 15px 0 0;
        }
      }
    }

    .content {
      .content__wrapper {
        flex-direction: column-reverse;
      }
      &__description {
        max-width: 95%;
      }
    }
  }

  .modal-delete {
    left: 85px;
    top: -21px;

    &::before {
      content: '';
      top: 10%;
      left: 0%;
      border-color: transparent #ffffff transparent transparent;
    }
  }
}
