.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 80px;
  min-width: 360px;
  max-width: 1440px;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
  translate: 0px -200px;
  transition: translate 1.5s;

  &__loaded {
    translate: 0;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000d9;
    text-decoration: none;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }

  .header-authentication {
    display: flex;
    align-items: center;

    &__sign-in {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      border: none;
      cursor: pointer;
      margin-right: 30px;
      text-decoration: none;
      color: #000000d9;
    }

    &__sign-up,
    &__log-out {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      cursor: pointer;
      border: solid 1px;
      border-radius: 5px;
      padding: 15px 20px;
      text-decoration: none;
    }

    &__create {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      cursor: pointer;
      border: solid 1px;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
      color: #52c41a;
      border-color: #52c41a;
      margin-right: 20px;
    }

    &__sign-up {
      color: #52c41a;
      border-color: #52c41a;
    }

    &__log-out {
      color: #000000bf;
      border-color: #000000bf;
      background-color: #ffffff;
    }

    &__create,
    &__log-out,
    &__sign-up,
    &__sign-in {
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.7;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #000000d9;
      vertical-align: middle;
      text-decoration: none;
      margin-right: 30px;

      & > p {
        margin-right: 10px;
      }

      & > img {
        width: 46px;
        height: 46px;
        border-radius: 50%;
      }
    }
  }
}

@media (width < 600px) {
  .header {
    flex-direction: column;
    height: 90px;
    box-sizing: content-box;
    padding: 0 0 10px 0;

    &__title {
      margin-top: 10px;
      transition: all 0.5s;
    }

    .header-authentication {
      &__sign-up,
      &__log-out {
        padding: 10px 12px;
        font-size: 14px;
      }

      &__sign-in,
      &__create {
        font-size: 14px;
      }
    }
  }
}
